/*=== Fontes ======================*/
@font-face{
    font-family: Lato Regular;
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face{
    font-family: Lato Light;
    src: url('../fonts/Lato-Light.ttf');
}
@font-face{
    font-family: Lato Bold;
    src: url('../fonts/Lato-Black.ttf');
}

/*=== geral ===*/
body{
	font-family: 'Lato Regular';
	font-size: 14px;
	color: #9b9b9b;
}
.button{	
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: #9b9b9b;
    color: white;
    margin: 0px 8px;
    padding: 5px 10px 5px 15px;
    border-radius: 20px;
}
.button:hover{
	text-decoration: none;
	color: white;
	background-color: #808080;
	cursor: pointer;
}

@media (min-width: 1500px) {
	.container {
		width: 1470px;
	}
}

/*=== header ===*/
header{
	margin-top: 50px;
}
.logo{
	margin-top: 20px;
	max-width: 100%;
}
ul.custom-nav{
	font-weight: bold;
	letter-spacing: 8px;
	text-transform: uppercase;
}
ul.custom-nav li{
	display: inline-block;
	padding: 17px 25px 0px 25px;
}
ul.custom-nav li a, 
ul.custom-nav li a:hover, 
ul.custom-nav li a:active,
ul.custom-nav li a:visited{
	color: inherit;
	text-decoration: none;
}

div.square{
	transition: .2s all ease-in;
	width: 14px;
	height: 14px;
	background-color: #c9c9c9;
	margin: 11px auto;
}
li.active div.square, li a:hover div.square{
	background-color: #808080;
}

/*=== conteúdo ===*/
.content{
	margin-top: 120px;
}

/* carousel */
.custom-carousel{
	height: 350px;
}

/* setas */
.carousel-control.left, .carousel-control.right{
	background: transparent !important;
}
.arrow-icon{
	margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
.carousel-control{
	width: 45px !important;
}

/* itens */
.carousel .item{
	margin-top: 70px;
	height: 325px;
}
.carousel-inner-item{
	margin: 0px 90px;
	height: 100%;
}
.carousel-bg{
	height: 230px;
	background-color: #999999;
}
.carousel-wrapper-img{
	margin-top: -70px;
}
.carousel-img{
	height: 370px;
	margin-left: 50px;
	box-shadow: 7px 7px 25px -5px #454343;
	overflow: hidden;	
}
.carousel-img img{
	max-height: 100%;
}

.carousel-title{
	font-family: 'Playfair Display', serif;
	font-size: 26px;
	letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: -110px;
    margin-right: 30px;
    padding: 37px 0px 0px 0px;
}
.separador{
	border-bottom: 3px solid #808080;
	width: 60%;
	margin: 10px auto;
}
.carousel-text{
	padding: 30px 0px;
	margin-right: 30px;
	height: 245px;
	color: white;
	font-size: 18px;
}
.carousel-data{
	margin-top: 10px;
	padding: 8px 15px;
	text-align: right;
	font-size: 16px;
	font-style: italic;
	background-color: #e6e6e6;
}

/* indicadores */
.carousel-indicators{
	bottom: -85px;
}
.carousel-indicators li{
	border-radius: 0px;
	background-color: #c9c9c9;
	border: 1px solid #c9c9c9;
}
.carousel-indicators .active{
	background-color: #808080;
	border-color: #c9c9c9;
}

.separador-vertical{
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	height: 175px;
	width: 0px;
	border: 1.5px solid #c3c4ca;
}

/*=== página sobre ===*/
.about-title{
	position: absolute;
	right: 0px;
	top: 250px;
	font-family: 'Lato Regular';
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}
.about-title .small{
	display: inline-block;
	vertical-align: top;
	line-height: 22px;
	font-size: 20px;
}
.about-title .big{
	display: inline-block;
	font-size: 45px;
}
.about-text{
	text-align: justify;
	padding-top: 30px;
}
.about-img{
	padding: 0px 75px;
}

.links-list{
	margin: 80px 0px 30px 0px;
}

/*=== página meta ===*/
.metas-text{
	display: inline-block;
	width: 90%;
	text-align: justify;
	padding: 80px 50px 20px 50px;
}